[submodule "eigen"]
	path = eigen
	url = https://github.com/PX4/eigen

[submodule "eigenrand"]
	path = eigenrand
	url = https://github.com/bab2min/EigenRand.git
[submodule "external/eigen"]
	path = external/eigen
	url = https://gitlab.com/libeigen/eigen.git
